@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  src: url('@/utils/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 500;
  src: url('@/utils/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 700;
  src: url('@/utils/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  font-weight: 400;
  src: url('@/utils/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  font-weight: 500;
  src: url('@/utils/fonts/Kanit/Kanit-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  font-weight: 600;
  src: url('@/utils/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
  font-display: swap;
}



:root {
    --font-title-mobile: normal 500 28px/1.2 "Kanit";
	--font-title-tablet: normal 500 40px/1.4 "Kanit";
	--font-title-web: normal 500 48px/1.4 "Kanit";

	--font-counter-numbers-mobile: normal 700 18px "Roboto Mono";
	--font-counter-numbers-tablet: normal 700 28px/1.7 "Roboto Mono";
	--font-counter-numbers-web: normal 700 36px/1.3 "Roboto Mono";

	--font-counter-units-mobile: normal 400 12px/1.6 "Roboto Mono";
	--font-counter-units-tablet: normal 400 16px/1.25 "Roboto Mono";
	--font-counter-units-web: normal 400 16px/3 "Roboto Mono";

	--font-counter-text-mobile: normal 400 12px "Roboto Mono";
	--font-counter-text-tablet-web: normal 400 16px "Roboto Mono";

	--font-tabs-title-mobile: normal 400 14px "Roboto Mono";
	--font-tabs-title-tablet-web: normal 500 16px/1.4 "Roboto Mono";

	--font-body-mobile: normal 400 14px/1 "Roboto Mono";
	--font-body-tablet-web: normal 400 16px/1.5 "Roboto Mono";

	--font-button-web-tablet: normal 500 16px/1.5 "Roboto Mono";
	--font-button-mobile: normal 500 14px/1.7 "Roboto Mono";

	--font-balance-mobile: normal 500 12px "Kanit";
	--font-balance-tablet-web: normal 600 14px/1.14 "Kanit";


	--font-form-error-message: normal 500 13px/1.85 "Roboto Mono";

	--color-white: #fff;
	--color-black: #000;
	--color-accent-blue: #204ffe;
	/* --color-dark-grey: #2f2f2f; */
	--color-light-grey: #b3b3b3;
	/* --color-background: #060412; */
	/* --color-warning-rose: #eb3795; */
	--color-button: rgb(39, 42, 46);
	--color-button-hover: rgba(39, 42, 46, 0.9);

	--width-mobile: 375px;
	--width-tablet: 744px;
	--width-web: 1440px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: var(--color-black);
	color: var(--color-white);
	font-family: "Roboto Mono", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
img,
ol {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}